{% extends 'base.html.twig' %}

{% block title %}{{ form_title }}{% endblock %}

{% block body %}

    <div class="container container-border">
        <h1>{{ form_title }}</h1>
        <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <table class="table table-striped encadrement-title">
                <thead>
                <tr class="title-search">
                    <th scope="col">Nom de la filière</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for filiere in filieres|sort((a, b) => a.nomFiliere <=> b.nomFiliere) %}
                    <tr>
                        <td>{{ filiere.nomFiliere }}</td>
                        <td>
                            <button type="button" class="btn btn-primary offset-4"><a
                                        href="{{ path('updateFiliere', {'id': filiere.id}) }}">Modifier</a></button>
                            <button type="button" class="btn btn-primary offset-4"><a
                                        href="{{ path('deleteFiliere', {'id': filiere.id}) }}">Supprimer</a></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {#    <div class="container" style="color: #0a0a0a">#}
    {#        <h1>{{ form_title }}</h1>#}
    {#        {% for filiere in filieres %}#}
    {#            <div class="card detail col-md-6">#}
    {#                <dl class="row">#}
    {#                    <dt class="col-sm-3 offset-3">Nom de la filière :</dt>#}
    {#                    <dd class="col-sm-6">{{ filiere.nomFiliere }}</dd>#}



    {#                    <button type="button" class="btn btn-default col-sm-3 offset-3"><a#}
    {#                                href="{{ path('updateFiliere', {'id': filiere.id}) }}">Modifier</a></button>#}
    {#                    <button type="button" class="btn btn-default col-sm-3"><a#}
    {#                                href="{{ path('deleteFiliere', {'id': filiere.id}) }}">Supprimer</a></button>#}
    {#                </dl>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}

{% endblock %}