<h1>Message de {{  contactFormData.firstName }} {{  contactFormData.lastName }}</h1>
<p>Son email <strong>{{  contactFormData.email }}</strong>
et son numéro de téléphone <strong>{{ contactFormData.phone }}</strong>.</p>
<p>Son message : {{  contactFormData.message|raw }}</p>
