{% extends 'base.html.twig' %}

{% form_theme technoForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}{{ form_title }}{% endblock %}

{% block body %}

    <div class="container-form">
        <form id="contact" action="" method="post">
            <h3 style="text-align: center;">{{ form_title }}</h3>
            {{ form_start(technoForm) }}
            <fieldset>
                {{ form_widget(technoForm) }}
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enregistrer</button>
                {{ form_end(technoForm) }}
            </fieldset>
        </form>
    </div>



{#    <div class="container">#}
{#        <h3>{{ form_title }}</h3>#}
{#        <br>#}
{#        <div class="form-row">#}
{#            <div class="form-groupe col-md-12">#}
{#                {{ form_start(technoForm) }}#}
{#                {{ form_widget(technoForm) }}#}
{#                <br>#}
{#                <button class="btn btn-success" type="submit">Valider</button>#}
{#                {{ form_end(technoForm) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
